<!DOCTYPE html>
{% load static %}

<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'meecha/styles/desktop_show.css' %}">
    <title>設定</title>

  </head>
  <body>
    {% csrf_token %}

    <header>
      <p><img src="{% static 'meecha/images/meecha.png' %}" alt="" id="rogo"></p>
    </header>

    <main>
      <div class="sumaho">
        <h1>スマホで見てね</h1>
        <div class="qr" id="qrcode">
          
        </div>
      </div>
    </main>
    
    <script src="{% static 'meecha/scripts/qrcode.min.js' %}"></script>
    <script src="{% static 'meecha/scripts/desktop_show.js' %}"></script>
  </body>
</html>